@import 'meyer-reset.css';
* {
    box-sizing: border-box;
}
picture {
    display: block;
}
img {
    display: block;
    width: 100%;
    height: auto;
}
.logo {
    display: inline-block;
    width: 50%;
}

a {
    display: block;
    color: inherit;
    text-decoration: none;
}
p a, li a {
    display: inline-block;
    color: blue;
    text-decoration: underline;
}
/*SETTINGS*/
html {
    --color: magenta;
    --black: #333;
    --white: #efefef;
    --dark: #1f2937;
    --light: lightblue;
    --blue: #3882f6;
}
/*DEVSTYLES*/
 /*body {
    border: 1px solid blue;
    padding: 2px;
}
.inner-column {
    border:8px solid orange;
}
/*.graphic-diptych {
    border: 8px solid dodgerblue;*/

/*header, footer, main {
    border: 8px solid red;
}
section {
    border: 8px solid lime;
}*/
/*STRUCTURE*/
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
main {
    flex-grow: 1;
}
.inner-column {
    display: block;
    padding: 10px;
    width: 98%;
    max-width: 900px;
    margin-right: auto;
    margin-left: auto;
    padding-top: 10vh;
    padding-bottom: 10vh;
}
header .inner-column {
    padding: 20px;
    background-color: var(--dark);
}
.information .inner-column {
    padding: 20px;
}
/*TYPOGRAPHY*/
.loud-voice {
    font-family: sans-serif;
    font-size: 32px;
    font-weight: 700;
    line-height: .9;
}
.medium-voice {
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
    text-align: center;
}
@media (min-width: 700px) {
    .loud-voice {
        font-size: 40px;
    }
}
.calm-voice {
    font-family: sans-serif;
    font-size: 1rem;
    line-height: 1.3;
}
/*COMPONENTS*/
.button {
    display: inline-block;
    background-color: var(--blue);
    color: white;
    font-size: 1.2rem;
    padding: 10px 20px;
    border-radius: 6px;
}
/*MODULES*/
header {
    display: flex;
    color: var(--white);
    background-color: var(--dark);
}
.header-link1, .header-link2, .header-link3 {
    text-align: right;
    display: inline-block;
    font-size: 18px;
    padding: 10px 26px 0px;
}
.header-links {
    display: flex;
    justify-content: right;
    padding-left: 60px;
}
.logo {
    display: flex;
    align-items: top;
    width: 35vh;
}
.info-content {
    display: flex;
    flex-direction: column;
    padding: 15px;
    width: 100%;
    height: 40vh;
}
.info-content .medium-voice {
    text-align: center;
}

.quote {
    background-color:#e5e7eb;
}
.quote-content {
    height: 20vh;
}
.quote-voice {
    font-size: 36px;
    color: #1f2937;
    font-style: italic;
}
.quote-author {
    font-weight: bold;
    font-size:x-large;
    text-align: right;
}


.call-to-action {
display: flex;
background-color: #3882f6;
width: 110%;
height: 140px;
padding-top: 30px;
padding-bottom: 30px;
padding-left: 20px;
border:4px solid #3882f6;
border-radius: 15px;
color: #e5e7eb;
align-items: center;
}
.cta-button {
    margin-left: 45%;
    width: 100px;
    height: 40px;
    padding: 10px;
    border: 2px solid #e5e7eb;
    border-radius: 5px;
    font-weight: bold;
    text-align: center;
}
.call-to-action h1 {
    font-weight: bolder;
    font-size: 30px;
    vertical-align: top;
}




footer {
    background-color: #1f2937;
    height: 10vh;
}
.footer-container {
    color: #e5e7eb;
    text-align: center;
}
.footer-container h2 {
    padding-top: 46px;
}






























.info-boxes-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    flex-wrap: wrap;
}
.info-box-plus-caption {
    display: block;
    margin-top: 50px;
    text-align: center;
}
.info-images {
    width: 120px;
    height: 121px;
    border: 4px solid dodgerblue;
    border-radius: 10%;
}


.graphic-diptych {
    display: block;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.graphic-diptych .text-content {
    display: block;
}
.graphic-diptych .text-content p {
    margin-top: 10px;
}
.graphic-diptych .text-content .button {
    margin-top: 10px;
}
@media (min-width: 700px) {
    .graphic-diptych {
        flex-direction: row;
    }
    .graphic-diptych :is(.text-content, picture) {
        flex-basis: 50%;
    }
.welcome {
    background-color: var(--dark);
    color: var(--white);
}
.welcome .button {
    color: var(--white);
}
